body {
    background-color: #000 !important;
}

h1, h2, h3, h4, h5, h6, p, label {
    color: #fff !important;
}

section {
    min-height:50vh;
}

.ant-anchor-link {
    float:left;
}

#woofpaper {
    background-image: url('../images/s1background.jpg');
    background-size: cover;
}
