body {
    background-color: #000 !important;
}

@font-face {
    font-family: 'philly_sansregular';
    src: url('./../fonts/philly/phillysans-webfont.woff2') format('woff2'),
         url('./../fonts/philly/phillysans-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DM Sans Regular';
    font-style: normal;
    font-weight: normal;
    src: local('DM Sans Regular'), url('./../fonts/dm/DMSans-Regular.woff') format('woff');
    }
    

    @font-face {
    font-family: 'DM Sans Italic';
    font-style: normal;
    font-weight: normal;
    src: local('DM Sans Italic'), url('./../fonts/dm/DMSans-Italic.woff') format('woff');
    }
    

    @font-face {
    font-family: 'DM Sans Medium';
    font-style: normal;
    font-weight: normal;
    src: local('DM Sans Medium'), url('./../fonts/dm/DMSans-Medium.woff') format('woff');
    }
    

    @font-face {
    font-family: 'DM Sans Medium Italic';
    font-style: normal;
    font-weight: normal;
    src: local('DM Sans Medium Italic'), url('./../fonts/dm/DMSans-MediumItalic.woff') format('woff');
    }
    

    @font-face {
    font-family: 'DM Sans Bold';
    font-style: normal;
    font-weight: normal;
    src: local('DM Sans Bold'), url('./../fonts/dm/DMSans-Bold.woff') format('woff');
    }
    

    @font-face {
    font-family: 'DM Sans Bold Italic';
    font-style: normal;
    font-weight: normal;
    src: local('DM Sans Bold Italic'), url('./../fonts/dm/DMSans-BoldItalic.woff') format('woff');
    }

h1, h2, h3, h4, h5, h6, p, label, a {
    color: #fff !important;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'philly_sansregular', Arial, sans-serif !important;
    font-weight: normal;
    font-style: normal;
}
p, label, a {
    font-family: 'DM Sans Medium', Arial, sans-serif !important;
    font-weight: normal;
    font-style: normal;
}

header .ant-row {
    align-items: center;
    justify-content: center;
}
header .calltoaction button {
    width: 100%;
    padding: 0.5rem 3rem 1.7rem !important;
}
button {
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    margin: 0.3rem 0.3rem 0.3rem 0 !important;
    box-shadow: 0.3rem 0.3rem 0.5rem #00000030;
}
.calltoaction button {
    background-color: #EA3438;
    padding: 0.5rem 3rem;
    color: #fff;
    border-radius: 10rem;
    border: 1px solid transparent;
}
.calltoaction button:hover {
    background-color: #000;
    color: #fff;
    border: 1px solid #EA3438;
}
.passiveaction button {
    background-color: #ea343878;
    padding: 0.5rem 3rem;
    color: #fff;
    border-radius: 10rem;
    border: 1px solid #EA3438;
    width: 100%;
}
.passiveaction button:hover {
    background-color: #F9BB2B;
    color: #000;
    border: 1px solid #000;
}

.ant-anchor-link-active > .ant-anchor-link-title {
    color: #fff !important;
    font-weight: bold;
}
.ant-anchor-link-title {
    color: #fff !important;
}
.ant-anchor-ink-ball.visible {
    display: none !important;
}

.ant-menu {
    background: none !important;
    border-bottom: none !important;
}

section {
    min-height: 80vh;
}
section h2 {
    text-align: center;
    margin: 2rem;
    font-size: 6vmax;
    text-shadow: 0.2rem 0 #7ec2ab;
    letter-spacing: 0.2rem;
}

.ant-anchor-link {
    float:left;
}

#woofpaper {
    background-image: 
        url('../images/woofpalmleft.svg'),
        url('../images/woofpalmright.svg'),
        url('../images/s1background.jpg');
    background-size: 
        32%, 
        36%, 
        cover;
    background-position: 
        left -5rem top -5rem,
        right -4.5rem top -6rem, 
        center;
    background-repeat: no-repeat;
    padding: 12rem 5% 2rem;
}
#wgmi {
    padding: 1rem 10%
}
#wgmi h1 {
    font-size: 8rem;
    text-shadow: 
        0.3rem 0 #7ec2ab, 
        0.7rem 0 #010001
    ;
}

#info {
    background: #000000;
    background: -moz-linear-gradient(top,  #000000 0%, #102417 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #000000 0%,#102417 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #000000 0%,#102417 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#102417',GradientType=0 ); /* IE6-9 */
}

#contract,
#the-stats,
#features {
    margin: 4rem 0;
}

#contractbox {
    background-image: url(./../images/contract.png);
    background-position: center;
    text-align: center;
    width: 80vmin;
    margin: auto;
    background-size: contain;
    background-repeat: no-repeat;
    padding: 16vmin 0vmin 2vmin 1vmin;
}
#contractbox h5 {
    font-size: 2vmin !important;
    margin-bottom: 3.05vmin !important;
}
#contractgreen {
    color: #099600;
}

.statcard {
    background-color: #0000004a;
    padding: 5% 3%;
    border-radius: 2rem;
    margin: 3%;
}
.statimg {
    text-align:center;
}
.statimg div {
    max-width: 80%;
    margin: auto;
}
.statboard {
    background-image: url(./../images/statboard.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    text-align: center;
    padding: 1.75vmax;
}
.statnumber {
    font-size: 2vmax;
    margin: 0;
    text-shadow: 0.1vmax 0.1vmax 0.4vmax #000000ab;
}
.statname {
    font-size: 1.25vmax;
    margin: -0.5vmax 0 0 0;
    text-shadow: 0.1vmax 0.1vmax 0.4vmax #000000ab;
}

#the-stats {
    background-image: url(./../images/statsbackground.svg);
    background-repeat: no-repeat;
    background-size: 120%;
    background-position: center;
}

#features {
    padding: 10%;
}
.featurehead {
    margin-right:1rem;
}
#features h3,
#features h4 {
    font-family: 'DM Sans Bold' !important;
    margin:0;
}
.iscash {
    float:left;
    width: 20%;
}
.featurepoint {
    float:left;
    width:80%;
    padding-right: 2rem;
}

#island-map {
    min-height: 80vh;
    background: #000000;
    background: url(./../images/mapbackground.svg), -moz-linear-gradient(top,  #000000 0%, #4C7E54 100%); /* FF3.6-15 */
    background: url(./../images/mapbackground.svg), -webkit-linear-gradient(top,  #000000 0%,#4C7E54 100%); /* Chrome10-25,Safari5.1-6 */
    background: url(./../images/mapbackground.svg), linear-gradient(to bottom,  #000000 0%,#4C7E54 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#4C7E54',GradientType=0 ); /* IE6-9 */
    background-position: bottom -5rem right -6rem, center;
    background-repeat: no-repeat;
    background-size: 115%;
    
}